@import  "/src/app.scss";

.single {
  display: flex;
  gap: 50px;

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: bold;
      }
    }

    .edit {
      display: flex;
      gap: 5px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    h1 {
      font-size: 42px;
      color: #333;
    }
      
    h3 {
      font-size: 18px;
    }
    
    button {
      width: max-content;
      padding: 7px 15px;
      border: none;
      cursor: pointer;
      background-color: rgb(237, 221, 252);
      border: 1px solid rgb(66, 37, 95);
      color: rgb(66, 37, 95);
      font-size: 16px;
    
      &:hover {
        border: 1px solid rgb(66, 37, 95);
        background-color: white;
        color: rgb(66, 37, 95);
      }
    }


    p {
      text-align: justify;
      line-height: 30px;
    }
  }
}