@import  "/src/app.scss";

.navbar {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      
      img {
        width: 120px;
      }
      h2{

        font-size: 40px;
        font-weight: 500;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 10px;

      h6 {
        font-size: 18px;
        font-weight: 300;

        &:hover {
          font-size: 18px;
          font-weight: 800;
        }
      }

      span {
        cursor: pointer;
      }

      .userName{
        font-size: 20px;
      }

      .write {
        background-color: $lightGreen;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;

        &:hover {
          color: black;
          background-color: white;
          border: 1px solid $lightGreen;
        }
      }
      .logout {
        background-color: rgb(255, 159, 159);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        border: 1px solid white;
        font-size: 14px;

        &:hover {
          color: black;
          background-color: white;
          border: 1px solid rgb(255, 159, 159);
        }
      }
    }
  }
}