@import  "/src/app.scss";

.navbar {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      img {
        width: 120px;
      }
      h2{

        font-size: 40px;
        font-weight: 500;
      }
    }

    .links {
      display: flex;
      align-items: right;
      gap: 10px;

      @include mobile {
        display: none;
      } 

      h6 {
        font-size: 18px;
        font-weight: 300;

        &:hover {
          font-size: 18px;
          font-weight: 800;
        }
      }

      span {
        cursor: pointer;
      }
    }

    .rightSide{
      display: flex;
      align-items: center;
      gap: 10px;

      .userName{
        font-size: 20px;
      }

      .mobile{
        display: none;

        @include mobile {
          display: flex;
        }

        .links{
          position: absolute;
          top: 100px;
          right: -300px;
          padding: 0 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 130px;
          font-weight: 300;
          color: black;
        }
      }

      .right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-right: 20px;

        .write {
          background-color: $lightGreen;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          border: 1px solid white;
          color: white;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid $lightGreen;
          }
        }

        .logout {
          background-color: rgb(255, 159, 159);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          border: 1px solid white;
          font-size: 14px;
          color: white;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid rgb(255, 159, 159);
          }
        }
      }
    }
  }
}