@import  "/src/app.scss";

.add {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 10px;
      border: 1px solid lightgray;
    }

    .chat{
      padding: 10px 10px 10px 20px;
      display: flex;
      flex-direction: column;
      color:#555;
      border: 1px solid lightgray;
      
      .chatContainer {
        height: 150px;
        overflow: scroll;
        border: 1px solid lightgray;
  
        .editor {
          height: 100%;
          border: none;
        }
      }

      .itemChat{
        display: flex;
        flex-direction: row;
        padding: 15px 0;
  
        input{
          width: 600px;
          border: 1px solid lightgray;
          margin-right: 10px;
        }
    
        .buttonChat{
          display: flex;
          justify-content: space-between;
          background-color: rgb(95, 224, 155);
          padding: 10px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          border: 1px solid white;
          color: black;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid rgb(95, 224, 155);
          }
        }
      }
    }

    .edit{ 
      padding: 10px 10px 25px 20px;
      display: flex;
      flex-direction: column;
      color:#555;
      border: 1px solid lightgray;
      
      .editItem{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 10px 0;
        gap: 20px;
        align-items: center;

        .buttonEdit{
          display: flex;
          justify-content: space-between;
          background-color: rgb(255, 217, 128);
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          border: 1px solid white;
          color: black;
          padding: 12px;
          height: 10px;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid rgb(255, 217, 128);
          }
        }
      }

      .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgray;
  
        .editor {
          height: 100%;
          border: none;
        }
      }
    }
  }

  .menu {
    flex: 2;
    display: flex;
    flex-direction: column;

    .item {
      border: 1px solid lightgray;
      padding: 15px;
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      color: #555;
      gap: 5px;
      margin-bottom: 20px;

      h1{
        font-size: 20px;
      }

      .actionFile{
        display: flex;
        flex-direction: row;
        gap: 20px;

        .selectFile{
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          background-color: rgb(255, 217, 128);
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          border: 1px solid white;
          color: black;
          padding: 12px;
          height: 10px;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid rgb(255, 217, 128);
          }
        }

        .uploadFile{
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          background-color: $lightGreen;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 14px;
          border: 1px solid white;
          color: black;
          padding: 12px;
          height: 10px;
  
          &:hover {
            color: black;
            background-color: white;
            border: 1px solid $lightGreen;
          }
        }
      }

      .buttons{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        background-color: $lightGreen;
        padding: 7px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        border: 1px solid white;
        color: black;

        &:hover {
          color: black;
          background-color: white;
          border: 1px solid $lightGreen;
        }
      }

      .visibility{
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .cat{
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .tags{
        input {
          width: 90%;
          padding: 8px;
          border: 1px solid lightgray;
        }
      }
    }
  }
}