button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(223, 190, 255);
  border: 1px solid rgb(66, 37, 95);
  color: black;

  &:hover {
    border: 1px solid rgb(66, 37, 95);
    background-color: white;
    color: rgb(66, 37, 95);
  }
}